*.zip
*.idea/
ImageCrop2_6/crop.bat
ImageCrop2_6/debug.log
Modules/ImageMagick-6.8.8-3/config/coder.xml
Modules/ImageMagick-6.8.8-3/config/colors.xml
Modules/ImageMagick-6.8.8-3/config/english.xml
Modules/ImageMagick-6.8.8-3/config/francais.xml
Modules/ImageMagick-6.8.8-3/config/locale.xml
Modules/ImageMagick-6.8.8-3/config/log.xml
Modules/ImageMagick-6.8.8-3/config/magic.xml
Modules/ImageMagick-6.8.8-3/config/mime.xml
Modules/ImageMagick-6.8.8-3/config/policy.xml
Modules/ImageMagick-6.8.8-3/config/quantization-table.xml
Modules/ImageMagick-6.8.8-3/config/thresholds.xml
Modules/ImageMagick-6.8.8-3/www/source/coder.xml
Modules/ImageMagick-6.8.8-3/www/source/colors.xml
Modules/ImageMagick-6.8.8-3/www/source/configure.xml
Modules/ImageMagick-6.8.8-3/www/source/delegates.xml
Modules/ImageMagick-6.8.8-3/www/source/english.xml
Modules/ImageMagick-6.8.8-3/www/source/francais.xml
Modules/ImageMagick-6.8.8-3/www/source/locale.xml
Modules/ImageMagick-6.8.8-3/www/source/log.xml
Modules/ImageMagick-6.8.8-3/www/source/magic.xml
Modules/ImageMagick-6.8.8-3/www/source/mime.xml
Modules/ImageMagick-6.8.8-3/www/source/policy.xml
Modules/ImageMagick-6.8.8-3/www/source/thresholds.xml
Modules/ImageMagick-6.8.8-3/www/source/type-ghostscript.xml
Modules/ImageMagick-6.8.8-3/www/source/type-windows.xml
Modules/ImageMagick-6.8.8-3/www/source/type.xml
Modules/PyExcelerate-master/pyexcelerate/templates/[Content_Types].xml
Modules/PyExcelerate-master/pyexcelerate/templates/docProps/
Modules/PyExcelerate-master/pyexcelerate/templates/xl/styles.xml
Modules/PyExcelerate-master/pyexcelerate/templates/xl/workbook.xml
Modules/PyExcelerate-master/pyexcelerate/templates/xl/worksheets/
Modules/feedparser-5.1.3/feedparser/tests/compression/sample.xml
Modules/feedparser-5.1.3/feedparser/tests/encoding/
Modules/feedparser-5.1.3/feedparser/tests/entities/
Modules/feedparser-5.1.3/feedparser/tests/http/
Modules/feedparser-5.1.3/feedparser/tests/illformed/
Modules/feedparser-5.1.3/feedparser/tests/microformats/
Modules/feedparser-5.1.3/feedparser/tests/wellformed/
random-art/
Modules/PyExcelerate-master/pyexcelerate/templates/[Content_Types].xml
